<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>
<article>
        <h1>About Us</h1>

        <!-- Short introduction -->
        <section>
            <h2>Hello!</h2>
            <p>
             We are StudyMate. We are a newly formed group who aims to assist students on keeping track of their assignments and tasks.
            </p>
        </section>
    </article>


<%- include ./partials/footer.ejs %>
